server:
  port: 8088
  shutdown: graceful

spring:
  application:
    name: notification-service
  lifecycle:
    timeout-per-shutdown-phase: 30s
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    driverClassName: com.mysql.cj.jdbc.Driver
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: notification-service-group
      auto-offset-reset: latest # 알림은 실시간성이 중요하므로 latest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.use.type.headers: true
        spring.json.trusted.packages: "*"
        max.poll.records: 500
        fetch.max.wait.ms: 500
        spring.json.type.mapping: >
          com.example.trip_service.kafka.dto.TripMatchedEvent:com.example.notification_service.kafka.dto.TripMatchedEvent,
          com.example.trip_service.kafka.dto.DriverArrivedEvent:com.example.notification_service.kafka.dto.DriverArrivedEvent,
          com.example.trip_service.kafka.dto.TripCompletedEvent:com.example.notification_service.kafka.dto.TripCompletedEvent,
          com.example.trip_service.kafka.dto.TripCanceledEvent:com.example.notification_service.kafka.dto.TripCanceledEvent,
          com.example.payment_service.kafka.dto.PaymentCompletedEvent:com.example.notification_service.kafka.dto.PaymentCompletedEvent

    template:
      observation-enabled: true


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: "${EUREKA_DEFAULT_ZONE:http://localhost:8761/eureka}"

management:
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always

  endpoints:
    web:
      exposure:
        include: "health, prometheus"

  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

  tracing:
    sampling:
      probability: 1.0
    zipkin:
      tracing:
        endpoint: "${ZIPKIN_ENDPOINT:http://localhost:9411/api/v2/spans}"