server:
  port: 8088

spring:
  application:
    name: notification-service
  datasource:
    url:
    driverClassName: com.mysql.cj.jdbc.Driver
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update

  kafka:
    bootstrap-servers:
    consumer:
      group-id: notification-service-group
      auto-offset-reset: latest # 알림은 실시간성이 중요하므로 latest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.use.type.headers: true
        spring.json.trusted.packages: "*"
        max.poll.records: 500
        fetch.max.wait.ms: 500
        spring.json.type.mapping: >
          com.example.trip_service.kafka.dto.TripMatchedEvent:com.example.notification_service.kafka.dto.TripMatchedEvent,
          com.example.trip_service.kafka.dto.DriverArrivedEvent:com.example.notification_service.kafka.dto.DriverArrivedEvent,
          com.example.trip_service.kafka.dto.TripCompletedEvent:com.example.notification_service.kafka.dto.TripCompletedEvent,
          com.example.trip_service.kafka.dto.TripCanceledEvent:com.example.notification_service.kafka.dto.TripCanceledEvent,
          com.example.payment_service.kafka.dto.PaymentCompletedEvent:com.example.notification_service.kafka.dto.PaymentCompletedEvent

    template:
      observation-enabled: true


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  tracing:
    sampling:
      probability: 1.0
    zipkin:
      tracing:
        endpoint: "http://localhost:9411/api/v2/spans"